:root {
  --hover-color: #2196f3;
  --defaulte-color: #2f303a;
  --text-color: #757575;
  --main-color: #fff;
  --active-color: #757575;
}

.container{
    outline: solid red;
}

.header{
    display: flex;
    align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list{
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 344px;
}

.address-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-logo{
    color: #000;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-left: 215px;
margin-right: 93px;
}

.header-span{
    color: var(--hover-color);
}

.header-nav {
    margin-left: 76px; /* расстояние от логотипа */
}

header-address {
    margin-left: auto; /* отправляет адрес вправо */
    font-style: normal; /* убирает курсив у <address> */
}

.header-nav a{
    transition: color 250ms ease;
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.header-nav a:hover,
.header-nav a:focus{
    color: var(--hover-color);
}

.header-address a{
    color: var(--active-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.header-address a:hover,
.header-address a:focus{
    color: var(--hover-color);
}

.hero {
    background-color: var(--defaulte-color);
}

.hero-title {
    flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px;
letter-spacing: 2.64px;
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
padding-top: 200px;
/* padding-bottom: 280px; */
padding-right: 452px;
padding-left: 452px;
margin-bottom: 30px;
}

.hero-button {
    width: 216.0px;
height: 50.0px;
border-radius: 4px;
background: var(--hover-color);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
display: block;
margin: 0 auto;
}